.home-div{
    height: 100%;
    width: 100%;
    flex-flow: column;
    display: flex;
    background-image: linear-gradient(to bottom right, #CB356B, #BD3F32);
}

.home-body{
    width: 100%;
    flex: 1 1 auto;
}

.title{
    float: left;
    color: white;
    height: auto;
    padding: 12px;
    font-size: 30px;
}

.nav-bar{
    height: auto;
    margin-top: 0;
    flex: 0 1 auto;
    display: inline-block;
    width: 100%;
}

.nav-bar ul{
    float: right;
    list-style-type: none;
    vertical-align: middle;
    margin: auto;
}

.nav-bar li{
    display: inline-block;
    padding: 12px;
    vertical-align: middle;
    margin: auto;
}

.nav-bar a{
    color: white;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    margin: auto;
}

.nav-bar a:hover{
    color: yellow;
}

.words{
    max-width: 900px;
    height: auto;
    margin-left: 5%;
    margin-top: 10%;
}

.home-body img{
    position: absolute;
    object-fit: contain;
    height: auto;
    width: 30%;
    bottom: 0;
    right: 0;
}

.heading{
    color: white;
}

.subheading{
    margin-top: 50px;
    color: white;
}